# Naive Bayes

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
data = pd.read_csv(r"PlayTennis.csv")
data

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [ ]:
# Problem-1 
# Outlook = Sunny, Temp = Hot, Humidity = High, Wind = False
# Play or No PLay

# P (Play / Sunny,Hot,High,false) --> P(Play) * P(Play/Sunny) * P(Play/Hot) * P(Play/High) * P(PLay/False)
# P (NoPlay / Sunny,Hot,High,false) --> P(NoPlay) * P(NoPlay/Sunny) * P(NoPlay/Hot) * P(NoPlay/High) * P(NoPLay/False)
# Compare and Decide

In [5]:
# P(Yes)
# P(No)
data['play'].value_counts()
Py = 9/14
Pn = 5/14

In [7]:
# Training
pd.crosstab(data['outlook'],data['play'])

play      no  yes
outlook
overcast   0    4
rainy      2    3
sunny      3    2

In [8]:
Pon = 0
Prn = 2/5
Psn = 3/5
Poy = 4/9
Pry = 3/9
Psy = 2/9

In [9]:
pd.crosstab(data['temp'],data['play'])

play  no  yes
temp
cool   1    3
hot    2    2
mild   2    4

In [10]:
PcoolNo = 1/5
PhotNo = 2/5
PmildNo = 2/5
Pcoolyes = 3/9
Photyes = 2/9
Pmildyes = 4/9

In [11]:
pd.crosstab(data['humidity'],data['play'])

play      no  yes
humidity
high       4    3
normal     1    6

In [12]:
Phighno  = 4/5
Pnormalno = 1/5
Phighyes = 3/9
Pnormalyes = 6/9

In [13]:
pd.crosstab(data['windy'],data['play'])

play   no  yes
windy
False   2    6
True    3    3

In [14]:
Pfalseno = 2/5
Pfalseyes = 6/9
Ptrueno = 3/5
Ptrueyes = 3/9

In [16]:
#  P (Play / Sunny,Hot,High,false) --> P(Play) * P(Play/Sunny) * P(Play/Hot) * P(Play/High) * P(PLay/False)
# P (NoPlay / Sunny,Hot,High,false) --> P(NoPlay) * P(NoPlay/Sunny) * P(NoPlay/Hot) * P(NoPlay/High) * P(NoPLay/False)
P_play_given = Py * Psy * Photyes * Phighyes * Pfalseyes
P_noplay_given = Pn * Psn * PhotNo * Phighno * Pfalseno
print(P_play_given,P_noplay_given)

0.007054673721340388 0.02742857142857143

In [17]:
# No Play